// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Durango Kid";
  src: font-url('DurangoKidMedium.eot');
  src: font-url('DurangoKidMedium.eot?#iefix') format('embedded-opentype'),
       font-url('DurangoKidMedium.woff') format('woff')
}

// Define fonts for body and headers
$body-font: "Lato", "sans-serif";
$headers-font: "Durango Kid", "sans-serif";
