<div class="general-heading">
  <%= image_tag('boca-sobre.svg', class: 'sobre-heading-icon') %>
</div>

<div class="sobre-content">
  <h5>Agradecemos a:</h5>
  <p>Ademar de Brito, Ana Pimenta, Camila Bruno, Carolina Lauriano,
  Bruno Oliveira, Bruno Yorka, Brunno Balco, Edu de Barros, Fábio Muniz,
  Fabiano Procópio, Igor Arume, Lucas Otsuka, Marcia Barbosa, Rodrigo Rosm e Vitor Gorgulho.</p>

  <h5>Boca Miúda é</h5>
  <p class="colaboradores">Carla Santana,<br>Leonardo Sales,<br>Manoel Manoel<br>e Mulambö</p>
</div>
