.artist-text-content, .artist-img-container {
  p {
    white-space: pre-wrap;
  }
}

.artist-info-container {
  margin-bottom: 24px;
  padding-left: 12px;

  h3 {
    color: $light-gray;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }
}

.artist-info-name {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.artist-icon {
  height: 16px;
  margin-right: 8px;
}

.artist-info-name > h2 {
  margin: 0;
  font-size: 18px;
}

.artist-img-container {
  margin: 32px 0;
}

.artist-img {
  width: 100%;
  margin-bottom: 16px;
}

.artist-img-legenda {
  font-family: 'Durango Kid', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 116%;
  color: #BDBDBD;
  padding-left: 12px;
  margin: 0;
}

.artist-text-content {
  padding: 0 12px;
}

.artist-page-solid-dash {
  border: 1px solid #E5E5E5;
}

.artist-page-links {
  margin: 32px 0;
  padding-left: 12px;
}

.artist-link {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.artist-link > p {
  font-weight: 500;
  margin: 0;
  text-decoration: underline;
}

.social-icon {
  height: 20px;
  margin-right: 8px;
}
