.category-tag, .category-tag-active {
  display: flex;
  align-items: center;
  background-color: transparent;
  -webkit-box-shadow:inset 0px 0px 0px 1px $black;
  -moz-box-shadow:inset 0px 0px 0px 1px $black;
  box-shadow:inset 0px 0px 0px 1px $black;
  padding: 16px 24px;
  border-radius: 40px;
  margin-bottom: 16px;
  cursor: pointer;

  img {
    height: 16px;
    margin-right: 8px;
    display: none;
  }

  p {
    margin: 0;
    font-family: 'Durango Kid', sans-serif;
    color: $black;
  }
}

.tag-active {
  // display: none;
  background-color: $black;
  p {
    color: $white;
  }
}

#Colagem {
  img {
    height: 22px;
  }
}

.container-categories-cards {
  margin-bottom: 40px;
}
