.boca-navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}

.logo-preto {
  height: 40px;
}

.sobre-cta {
  color: $black;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;

  &:hover, &:active {
    text-decoration: underline;
    color: $black;
  }
}

.voltar-cta {
  color: $light-gray;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;

  &:hover, &:active {
    text-decoration: underline;
    color: $light-gray;
  }
}
